$main_color: #c70101;


.button{
    padding: 9px 19px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: $main_color;
    border: none;
    border-radius: 6px;
    &_main{
        margin-top: 65px;
        font-size: 16px;
        padding: 18px 39px;
    }
}


.label{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

@media (max-width: 574px){
    .label{
    font-size: 27px;
    line-height: 27px;
    }
}